[alias]
  co = checkout
  unstage = reset HEAD
  undo = reset --soft HEAD^
  rs = reset --soft HEAD
  rh = reset --hard HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %C(bold)%s %Creset%C(white)%an%Creset %C(green)%cr' --abbrev-commit --date=relative
  lgd = log --diff-filter=D --summary
  cp = cherry-pick
  diffcsv = diff --color --unified=0 --word-diff-regex="[^;,]+"

[color]
  branch = auto
  diff = auto
  status = auto
  grep = auto

[github]
  user = shluboto

[core]
  editor = "vim"
  excludesfile = ~/.gitignore

[branch]
  autosetuprebase = always

[push]
	default = current

[user]
  name = Andreas Busold
  email = ab@neopoly.de
